/* Paleta colores: https://coolors.co/f6f6f6-e8e8e8-333333-990100-b90504 */
:root {
    --black: #333333;
    --dark-red: #990100;
    --red: #B90504;
    --gray: #E8E8E8;
    --white: #F6F6F6;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes zoomIn {
    0% {
        transform: scale(150%);
        z-index: 20;
    }
    100% {
        transform: scale(100%);
        z-index: 1;
    }
}
@keyframes zoomOut {
    0% {
        transform: scale(50%);
        z-index: 20;
    }
    100% {
        transform: scale(100%);
        z-index: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--black);
    /* background-image: url(https://images.pexels.com/photos/3178786/pexels-photo-3178786.jpeg?cs=srgb&dl=pexels-andrew-neel-3178786.jpg&fm=jpg); */
    background-image: url(./assets/929202.jpg);
    background-size: 600%;
    background-attachment: fixed;
    background-position: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label {
    color: var(--white);
}

/* HEADER */
a,
button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: var(--white);
    border-radius: 20px;
    padding: 7px;
}

button:hover {
    /* color: var(--dark-red); */
    background-color: var(--dark-red);
}


header {
    position: sticky;
    top: 0px;
    z-index: 5;
    padding: 0 1rem;
    backdrop-filter: brightness(0.2) blur(10px);
    box-shadow: 2px 2px 1px black;
}

nav {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    gap: 20px;

}

nav>a,
button {
    font-size: 1.2rem;
    font-weight: bold;
}
#left-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}

#search-box {
    all: unset;
    background-color: var(--white);
    font-size: 1rem;
    text-align: center;
    width: 50%;
    height: 30px;
    margin: 0px 10px;
    flex-grow: 1;
    border: 2px solid var(--gray);
    border-radius: 10px;
    border-inline: 0px;
}

/* #search-box:hover {
    transform: scale(1.02);
} */

#search-button {
    margin: 0px 0px;
}

.fa-solid {
    color: var(--white);
}


.action-button {
    display: block;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    left: 0px;
    top: 70px;
    height: 0px;
    width: 220px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(156, 0, 0, 0.99);
    backdrop-filter: blur(50px);
    box-shadow: 5px 5px 5px black;
    border-bottom-right-radius: 20px;
    transition: height 0.1s ease-in;
    overflow: hidden;
}

.dropdown-menu.open {
    /* adjust as I add more features to side nav */
    height: 500px;
}

ul {
    color: var(--white);
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

li {
    list-style: none;
    /* display: block; */
    cursor: pointer;
    margin: 5px;
    padding: 15px;
    margin-left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

li:hover {
    background-color: rgba(0, 0, 0, 1);
}


/* Movie cards */
#main-section {
    display: flex;
    flex-direction: column;
    margin: 20px 10%;
}

.movie-card-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.movie-card {
    animation: 0.25s ease-out 0s 1 zoomOut;
    height: 280px;
    width: 150px;
    margin: 10px 0px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    opacity: 1;
    backdrop-filter: blur(5px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.movie-card img {
    animation: 0.25s ease-in-out 0s 1 zoomIn;
    width: 100%;
}

.movie-card h3 {
    animation: 0.25s ease-out 0s 1 slideInFromBottom;
    color: white;
    margin: 2px;
    margin-top: 8px;
}

.movie-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.category-title {
    color: white;
    font-size: 50px;
    margin-top: 10px;
    text-shadow: 5px 5px 5px #000000;
}

/*Movie Details--------------------------------------------------------------------------*/
#movie-details {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-52%);
    z-index: 2;
    width: 90%;
    display: none;
    /*display: none by default, flex when clicked with script*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    background-size: cover;
    background-position: center;
    padding: 7px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    /* transition: all 1s linear 0s */
}

#movie-details-alert {
    color: white;
    background-color: black;
    font-size: 25px !important;
    border-radius: 5px;
    margin: 10px;
    align-items: center;
    text-align: center;
    font-size: larger;
}

#movie-details-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 10px;
}

#movie-details-nav * {
    cursor: pointer;
    backdrop-filter: brightness(0.2) blur(10px);
    padding: 10px 10%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
}

#movie-details-nav *:hover {
    transform: scale(1.05);
}

#movie-details-fav {
    color: rgb(255, 191, 0);
}
#movie-details-fav-delete {
    color: red;
}

#movie-details-watchlater {
    color: rgb(124, 203, 229);
}
#movie-details-watchlater-delete {
    color: red;
}

/* #movie-details-close {
} */
#movie-details-container {
    backdrop-filter: brightness(0.2) blur(2px);
    padding: 20px;
    border-radius: 20px;
}

#movie-details-title {
    color: var(--gray);
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

#movie-details-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#movie-details-trailer {
    border-radius: 5px;
    border: 1px solid var(--gray);
    margin: 5px;
    width: 100%;
    max-width: 720px;
    aspect-ratio: 1.78;
}

#movie-details-overview {
    color: var(--gray);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

#movie-details-footer {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

#movie-details-genres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.genre-tag {
    border: 2px solid var(--red);
    border-radius: 40px;
    color: white;
    padding: 8px;
    font-size: 0.8rem;
}

#movie-details-date {
    color: #8d8d8d;
    font-weight: bolder;
    font-style: italic;
    text-wrap: nowrap;
}


/*Search Results--------------------------------------------------------------------------*/
#search-results {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

#search-results-text {
    color: white;
}

label[for="sort-results"] {
    color: white;
}


/*Discover section----------------------------------------------------------------------------*/
#discover {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#discover h2 {
    color: var(--white);
    margin: 20px;
}

#discover-form {
    display: flex;
    flex-direction: column;
    
}
#discover-filter-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
#discover-genres-window {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#discover-genres-checkboxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    /* Optional: adds a border around the checkbox area */
    border-radius: 4px;
    /* Optional: rounds the corners of the border */
    background-color: var(--white);
    /* Optional: color for the checkbox area */
}

#discover-genres-checkboxes div {
    display: flex;
    align-items: center;
}
#discover-genres-checkboxes label {
    color: black;
}

input[type="checkbox"] {
    margin-right: 5px;
}
 /*Login Section--------------------------------------------------------------------------------------------------------*/
 #logo {
    width: 200px;
    border-radius: 50px;
 }
 #login-section {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
    top: 0px;
    z-index: 20;
    backdrop-filter: blur(50px) brightness(0.5);
    margin: 0px;
 }
 #close-login-button {
    position: fixed;
    top: 20px;
    right: 20px;
    transform: scale(2);
 }

 #register-form {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #000000;
 }
 #register-form > h3, #login-form > h3 {
    color: white;
    text-align: center;
 }
 #register-form label {
    margin-top: 10px;
 }
#login-form {
    display: flex;
    flex-direction: column;
    background-color: #990100;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #000000;
}

#register-form > input[type="submit"], #login-form > input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;

}
/*Temp until firebase check*/
#logout-button {
    display: none;
}

.display-none {
    display: none;
}
.animated {
    
}
#footer-logo {
    position: absolute;
    width: 40px;
    right: 20px;
    bottom: 20px;
}

/* Favorites section -------------------------------------------------------------------------------------------------------- */
#alert {
    padding-top: 40px;
    color: white;
}
/* Desktop --------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 992px) {
    body {
        background-size: 200%;
    }
    .movie-card {
        height: 560px;
        width: 300px;
        transition: transform 0.1s linear 0s
    }
    .movie-card:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }
    .movie-card h3 {
        color: white;
        margin: 2px;
        margin-top: 20px;
        font-size: 25px;

    }
    #movie-details {
        width: 75%;
        max-width: 1920px;
    }
    #main-section {
        margin: 20px 10%;
    }
    #movie-details-title {
        font-size: 25px;
    }
    #movie-details-main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    #movie-details-overview {
        font-size: 22px;
        width: 70%;
    }
    #discover-filter-options {
        gap: 100px;
    }
    #discover-genres-checkboxes {
        grid-template-columns: repeat(5, 1fr);
    }
    #footer-logo {
        width: 100px;
    }
}